@import url("font.css");

div.container {
    max-width: 992px;
}

span.mustalgiame {
    font-family: CooperHewitt;
    color: var(--bs-blue);
    font-weight: 600;
    font-size: 1em;
    background-color: aliceblue;
    border: 1px solid var(--bs-blue);
    border-radius: 3px;
    padding: 0.3em 0.3em 0.1em 0.3em;
}

span.mustalgiame > a {
    text-decoration: none;
}

span.mustalgiame > a:hover {
    color: var(--bs-yellow);
}

/* Initially hide artist-view */
div.artist-view {
    display: none;
}

div.album_name {
    font-weight: 600;
}

img {
  /* max-width: 100%; */
  /* max-height: 100%; */
  object-fit: cover; 
  object-position: center;
  height: 200px;
  width: 200px;
}

img.avatar {
  /* max-width: 100%; */
  /* max-height: 100%; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  margin-bottom: 2em;
}

div.footer {
    margin-top: 1rem;
    font-size: 0.8em;
    opacity: 0.65;
    border-top: 1px solid var(--bs-gray-500);
}
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline;
    width: 44px;
    height: 22px;
    /* padding-left: 10px; */
    padding-right: 38px;
    /* margin-right: 20px; */
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  